.el-date-table,.el-month-table, .el-year-table {
    border-collapse: separate;
    display: table;
}
.el-date-table td, .el-date-table th{
    border: none;
}
.el-month-table  td, .el-month-table e th{
    border: none;
}
.el-year-table  td, .el-year-table e th{
    border: none;
}
.el-date-table tr:nth-child(2n) {
    background-color: transparent;
}
.el-month-table  tr:nth-child(2n) {
    background-color: transparent;
}
.el-year-table  tr:nth-child(2n) {
    background-color: transparent;
}