.dinert-form.el-form {
    display: flex;
    overflow: hidden;
    padding: 0;
    min-height: 50px;
    border-radius: 4px;
    background-color: var(--el-bg-color);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    box-sizing: content-box;

    &.near.packUp {
        max-height: 50px;
    }

    &.near {
        .el-form-left {
            .el-col {
                display: flex;
                align-items: center;
                margin-right: 10px;
                width: auto;
                max-width: unset;
                flex: unset;
            }
        }

        .el-form-right {
            &.isArrow {
                width: 230px;
                flex: 0 0 230px;
            }
        }
    }

    &.dialog {
        .el-form-left {
            flex: 1;

            .el-col {
                .label-text {
                    & > div {
                        width: 100%;
                    }
                }

                &.slider {
                    .label-text {
                        overflow: unset;

                        .el-slider {
                            padding-left: 12px;

                            .el-input-number {
                                width: auto;
                            }
                        }
                    }
                }
            }
        }
    }

    .el-form-left {
        .el-col {
            .label-text {
                .el-radio.is-bordered,
                .el-checkbox.is-bordered {
                    margin-right: 16px;
                }

                .el-date-editor {
                    width: 210px;
                }

                .el-date-editor--daterange {
                    width: 260px;
                }

                & > .el-input {
                    width: 210px;
                }

                & > .el-select {
                    width: 210px;
                }

                .el-date-editor--datetimerange {
                    width: 400px;
                }
            }
        }
    }

    .el-form-right {
        display: flex;
        margin-left: 24px;

        .el-form-right-operation {
            padding: 0;

            &.el-button.is-text {
                padding-right: 0;
                background-color: unset;
            }
        }
    }

    div.el-form-item {
        position: relative;
        display: flex;
        margin-right: 0;
        margin-bottom: 18px;
        width: 100%;

        &.show-label {
            .label-text {
                overflow: unset;
                text-overflow: unset;
                white-space: unset;
            }
        }

        &.label-wrap {
            .el-form-item__label {
                height: auto;

                .label-text {
                    display: inline;
                    text-align: left;
                    white-space: normal;
                }
            }
        }
    }

    .el-form-item__content {
        flex: 1;
        margin-left: 0;

        .el-tooltip__trigger:not(.el-slider__button) {
            width: 100%;
        }

        .el-input-number {
            width: 100%;

            .el-input__inner {
                text-align: center;
            }
        }

        .el-textarea {
            .el-textarea__inner {
                height: 80px;
            }
        }

        .el-date-editor {
            width: 100%;
            box-sizing: border-box;

            .el-input__wrapper {
                width: 100%;
                box-sizing: border-box;
            }
        }

        .el-input__inner {
            overflow: hidden;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .el-form-item__label {
            overflow: hidden;
            width: 80px;
            max-width: 80px;
            text-align: right;
            text-overflow: ellipsis;
            white-space: nowrap;

            .el-tooltip {
                display: inline;

                .label-text {
                    display: inline;
                }
            }
        }
    }
}
